
<body>

  <div class="top-site">
      <%# <%= render partial: "main", locals: { prototype: prototype} %>  
<div class="lists">
  <div class="number list">社員番号</div>
  <div class="name list">名前</div>
  <div class="cana list">フリガナ</div>
  <div class="figure list">就業形態</div>
  <div class="department list">役職</div>
  <div class="phone_number list">電話番号</div>
  <div class="postal_code list">郵便番号</div>
  <div class="address list">住所</div>
  <div class="building list">建物など</div>
  <div class="gender list">性別</div>
  <div class="blood_type list">血液型</div>
  <div class="e-mail list">メールアドレス</div>
  <div class="birthday list">生年月日</div>

</div>
<div class="lists">
  <div class="number list">AA11</div>
  <div class="name list">西村歩</div>
  <div class="cana list">ニシムラ アユム</div>
  <div class="figure list">正社員</div>
  <div class="department list">社員</div>
  <div class="phone_number list">080-2120-1224</div>
  <div class="postal_code list">399-2434</div>
  <div class="address list">飯田市伊豆木</div>
  <div class="building list">6336</div>
  <div class="gender list">男</div>
  <div class="blood_type list">B</div>
  <div class="e-mail list">aaa@gmail.jp</div>
  <div class="birthday list">1999/5/5</div>

</div>    <section class="kv">
    </section>
    <section class="about">
    </section>

    <section class="business">
    </section>
    <section class="staff">
    </section>
    <section class="news">
    </section>
  </div>
</body>
</html>
