<div>
  <div class="number">社員番号</div>
  <div class="name">名前</div>
  <div class="cana">フリガナ</div>
  <div class="figure">就業形態</div>
  <div class="department">役職</div>
  <div class="phone_number">電話番号</div>
  <div class="postal_code">郵便番号</div>
  <div class="address">住所</div>
  <div class="building">建物など</div>
  <div class="gender">性別</div>
  <div class="blood_type">血液型</div>
  <div class="e-mail">メールアドレス</div>
  <div class="birthday">生年月日</div>

</div>
<div>
  <div class="number">AA11</div>
  <div class="name">西村歩</div>
  <div class="cana">ニシムラ アユム</div>
  <div class="figure">正社員</div>
  <div class="department">社員</div>
  <div class="phone_number">080-2120-1224</div>
  <div class="postal_code">399-2434</div>
  <div class="address">飯田市伊豆木</div>
  <div class="building">6336</div>
  <div class="gender">男</div>
  <div class="blood_type">B</div>
  <div class="e-mail">aaa@gmail.jp</div>
  <div class="birthday">1999/5/5</div>

</div>